.addevent{
    height: 204%;
    background-color: #eca501;
    /* display: grid; */
    /* justify-content: end; */
    width: 167%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}
.addbutton{
    display: grid;
    justify-content: end;
    margin-top: 5%;
    margin-right: 10%;
}